

<div class = "sub">

        <div class = "row">
            <div class = "col-sm-2">
                <h4><a href="/user/@ViewBag.Ideas.Creator.UserId">@ViewBag.Ideas.Creator.FName</a> says:</h4>
            </div>
             <div class = "col-sm-9">
                <p>@ViewBag.Ideas.Description</p>
            </div>
        </div>
      

</div>

